#mainMenuBkgrnd {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

.bar {
    color: white;
}

.play-game {
    height: 60px;
    width: 200px;
    margin: 10px;
}

.controlsBtn {
    height: 40px;
    width: 150px;
    margin: 20px;
}

button:hover {
    cursor: pointer;
}

.return {
    height: 30px;
    width: 100px;
    position: absolute;
    left: 40px;
}

.controls {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
}

#gamePlan {
    margin: 20px;
}

.gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.playerUI {
    display: flex;
    justify-content: space-around;
}

.health {
    margin: 0 200px 0 0;
}

.bossHealth {
    display: flex;
    justify-content: center;
}

.gameMenu {
    background-color: black;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 210px;
}

.gameMenuControlsButton, .gameMenuReturn {
    margin: 40px;
}

.gameMenuControls {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 100px;
}

.gameMenuControlsReturn {
    position: absolute;
    top: 30px;
    left: 60px;
}

.winScreen {
    background-color: blue;
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#win {
    margin: 60px;
    font-size: 80px;
}

.winReturn {
    margin: 100px;
    height: 80px;
    width: 300px;
}

.loseScreen {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    text-align: center;
}

#lose {
    margin: 60px;
    font-size: 60px;
}

.loseReturn {
    margin: 50px;
    height: 80px;
    width: 300px;
}

.summary {
    padding: 10px;
}

.hidden {
    display: none;
}