body {
    background-image: url('../assets/images/demons-respite-background.PNG');
    background-repeat: no-repeat;
    background-size: 48%;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 130px 0 0 40px;
}

#mainMenuBkgrnd {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

.bar {
    color: white;
    margin: auto 0;
}

.play-game {
    width: 200px;
    margin: 10px;
}

.controlsBtn {
    width: 150px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

.return {
    height: 30px;
    width: 100px;
    position: absolute;
    left: 700px;
}

.controls {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;
 }

#controlsImg, #gameMenuControlsImg {
    height: 200px;
}

#gamePlanImg, #gameMenuGamePlanImg {
    height: 90px;
    margin: 10px;
}

.top {
    display: flex;
    align-items: center;
}

.gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px 0 0 20px;
    position: absolute;
    top: 3%;
    right: auto;
    left: 36.5%;
    bottom: auto;
}

canvas {
    height: 500px;
    width: 500px;
    border: 2px solid black;
}

.playerUI {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.health {
    color: white;
    margin: 0 20px 20px 0;
    font-size: 22px;
}

.gold {
    color: white;
    margin: 0 0 20px 0;
    font-size: 22px;
}

.timeUI {
    color: white;
    margin: 0 80px 20px 0;
    font-size: 20px;
}

.bossHealth {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 22px;
}

.abilityCooldown {
    background-color: pink;
    margin: 0 80px 20px 0;
    height: 20px;
    width: 20px;
}

.gameMenu {
    background-color: black;
    height: 25%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: auto;
    left: 44%;
    bottom: auto;
}

.gameMenuControlsButton, .gameMenuReturn {
    margin: 40px;
    height: 15%;
}

.gameMenuControls {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12%;
    right: auto;
    left: 37%;
    bottom: auto;
}

.gameMenuControlsReturn {
    position: absolute;
    top: 20px;
    left: 10px;
}

.winScreen {
    background-color: blue;
    height: 500px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 0 32px;
}

#win {
    margin: 60px;
    font-size: 80px;
}

.winReturn {
    margin: 100px;
    height: 80px;
    width: 300px;
}

.loseScreen {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
    text-align: center;
    margin: 150px 0 0 30px;
}

#lose {
    margin: 60px;
    font-size: 60px;
}

.loseReturn {
    margin: 50px;
    height: 80px;
    width: 300px;
}

.loseFinalScore, .winFinalScore {
    color: white;
    font-size: 20px;
    text-align: center;
}

.summary {
    padding: 10px;
}

.hidden {
    display: none;
}

.cooldown {
    background-color: black;
}

@media only screen and (max-width: 1200px)
{
    body {
        background-size: 95%;
    }
    
    .gameplay {
        position: absolute;
        top: 3%;
        right: auto;
        left: 23%;
        bottom: auto;
    }

    .gameMenu {
        height: 40%;
        width: 40%;
        position: absolute;
        top: 23%;
        right: auto;
        left: 31%;
        bottom: auto;
    }

    .gameMenuControlsButton, .gameMenuReturn {
        height: 10%;
    }

    .gameMenuControls {
        position: absolute;
        top: 15%;
        right: auto;
        left: 23.5%;
        bottom: auto;
    }

    .return {
        position: absolute;
        top: 13%;
        right: auto;
        left: 23%;
        bottom: auto;
    }
}